@media screen and (max-width: 430px) {
    .nav-link {
        font-size: 70%;
    }
    .title {
    	display: none;
        font-size: 285%!important;
    }

   	.b1-inside {
       	height: 40vh!important;
       	margin: 0!important;
       	padding: 0;
    }

    .b1 h1 {
     	font-size: 30px!important;
    }

    .b1-text {
     	padding: 12px!important;
     	height: 59.5vh;
    }

    .b1-btn-cont {
        padding-top: 3vh!important;
    }

    .b1-btn {
        width: 100%!important;
    }

    .last-pr {
         opacity: 0%;
         display: none;
    }


}

@media screen and (max-width: 767px) {

    .b1-inside {
        height: 40vh!important;
        margin: 0!important;
        padding: 0;
    }

    .b1-text {
        height: 60vh!important;
    }
    .icon {
        display: none;
    }
    .h3i {
        font-size: 90%;
        margin: 0;
    }

 

    .b1-inside {
    	height: 30vh;
    	margin: 0!important;
    	padding: 0;
    }


}

.first-block {
    /*	height: 100vh;*/
        margin: 0!important;
        padding: 0;
}
    
.b1-inside {
    height: 100vh;
    margin: 0!important;
    padding: 0;
}
    
.bg-img {
    background-image: url(../assets/bg.png);
    background-size: cover;
    border-radius: 15px;
}


.b1 h1 {
    font-family: 'Clash Grotesk', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 37px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



.b1-text {
    padding: 5vh;
    display: flex;
    background: #fff;
}

.b1-nav a {
    font-family: Clash Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-decoration: none;
    color: #000;
}

.b1-btn-cont {
    padding-top: 15px;
}

.b1-link-in {
    transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    padding: 5px;
    border-radius: 5px;
}

.b1-link-in:hover {
    background: rgba(0, 0, 0, 0.1);

    background: #F2F2F2;
}

.b1-btn {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;


    width: 155px;


    border-radius: 5px;



}


.btn-tg {
    /* Inside Auto Layout */
    color: #fff!important;
    background: #00CD72;
    transition: border-radius background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-tg:hover {
    color: #fff!important;
    background: #00C166;
    border-radius: 2px;
}

.btn-em:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.btn-em {
    background: rgba(0, 0, 0, 0.05);
    transition: border-radius .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.b1-btn-in {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
